nav {
    width: 100vw;
    height: 8vh;

    /* Slightly different from the gradient variable */
    background: rgb(108, 192, 221);
    background: linear-gradient(90deg, rgba(108, 192, 221, 1) 0%, rgba(9, 9, 121, 1) 91%);

    display: flex;
    align-items: center;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 24px;
    font-size: 2rem;
    font-weight: 600;
    height: 8vh;
    width: 25%;
}

img {
    height: 100%;
}

.nav-items {
    margin-right: 24px;
    display: flex;
    column-gap: 48px;
    align-items: center;
}

.btn {
    width: 128px;
    border-radius: 19px;
    background-color: var(--coral);
    border-color: var(--coral);
    color: white;
}

#nav-login:hover {
    color: white;
    background-color: var(--text-blue);
}

.btn a {
    font-weight: 600;
}