.main {
    width: 100vw;
    height: 90vh;

    background: var(--background-gradient-1);
    background: var(--background-gradient-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.register-hero-container {
    color: white;
    margin: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 50%;
}

.info h3 {
    font-size: 3rem;
}

.info p {
    font-size: 1.5rem;
}

.reg-form {
    width: 40%;
}

.tier-section {
    color: var(--text-blue);
    height: 80vh;
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.tier-section h2 {
    font-size: 3rem;
}

.tiers {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.tier-unit {
    margin: 0;
    padding: 48px 0px;
    height: 90%;
    width: 100%;
    background-color: var(--light-gray);
    color: var(--text-blue);
    box-shadow: 10px 10px var(--coral);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}